{% extends 'base.html' %}
{% block content %}
<h4>
  <span class="step"><span>1</span> Member Info &rarr; </span>
  <span class="step inactive"><span>2</span> Create Account &rarr; </span>
  <span class="step inactive"><span>3</span> Billing Info &rarr; </span>
  <span class="step inactive"><span>4</span> Done!</span>
</h4>

<form action="/" method="post">
  <input type="hidden" name="plan" value="{{ plan }}" />
	{% if paypal %}<input type="hidden" name="paypal" value="1" />{% endif %}
<table>
  <tr><td class="label">First name:</td><td><input type="text" name="first_name" /></td></tr>
  <tr><td class="label">Last name:</td><td><input type="text" name="last_name" /></td></tr>
  <tr><td class="label">Email:</td><td><input type="text" name="email" /></td></tr>
  {% if message %}<tr><td>&nbsp;</td><td style="color: red; font-size: smaller;">{{ message }}</td></tr>{% endif %}
</table>
<div style="font-size: smaller; margin-left: 216px;">How did you hear about us?<br />
  <input type="text" name="referrer" /><br />
  <input type="submit" value="Next step &rarr;" style="font-size: large; margin-top: 25px;" /><br />
</div>
<div style="background-color: lightyellow; border: 1px solid goldenrod; padding: 10px; margin-top: 40px;">We're so glad you're joining our <strong>100% volunteer</strong> not-for-profit organization to help foster hacker community! Remember, not everything is perfect yet and things move a little slower in a volunteer organization, but we're constantly improving.<br /><br />
You'll soon be a member, and you'll have the power to vote, but more importantly, the <strong>power to act</strong> to make Hacker Dojo better. We're looking forward to having you as part of the community.</div>


</form>
{% endblock %}