{% extends 'base.html' %}
{% block content %}



<h2>Member List</h2>

<style>
.log td {border-bottom:1px solid #ccc; border-right:1px solid #ccc; font-size:12px; padding:2px}
table.log {border-left:1px solid #ccc; border-top:1px solid #ccc; margin-top:0}
.log .header {font-weight:bold;}
h3 {margin-top:3em}
.bad {background:#fdd}
#header h2 {display:none;}
</style>

<table class="log" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr class="header">
  <td>Name</td>
  <td>Username</td>
  <td>Status</td>
</tr>

{% for u in signup_users %}  
{% if u.spreedly_token %}
  <tr style="background: {% ifequal u.status "active" %}#EFFFEF{% else %}#FFF7F7{% endifequal %}">
    <td>{{ u.last_name }}, {{ u.first_name }}</td>
    <td>{{ u.username }}</td>
    <td>{% ifequal u.status "active" %}current{% else %}expired{% endifequal %}</td>
  </tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}