{% extends 'base.html' %}
{% block content %}
<center>
{% if sent %}
We've sent you a link to create your account. Check your inbox!
{% else %}
<h4 style="margin-bottom: 20px;">
  Looks like you need a Hacker Dojo user account.
</h4>
<span style="color: red;">{{ message }}</span>
<div>

<!--
	<div style="width: 45%; background: #fee; border: 2px solid #db002a; float: left; margin: 5px; padding: 10px;">
		<h3>I signed up with PayPal.</h3>
		<p style="font-size:smaller;">You need to upgrade to our new billing system by signing up on this site. Your PayPal subscription will be canceled once you switch.</p>
		<input type="submit" value="Continue here" style="font-size: larger;" onclick="window.location.href='/?paypal=1'"/>
	</div>

-->	
	<div style="width: 45%; background: #fee; border: 2px solid #db002a;  margin: 5px; margin-left:25%; padding: 10px;">
<!--		<h3>I signed up with Spreedly.</h3> -->
		<p style="font-size: smaller;">Tell us the email address you used:</p>
		<form action="{{self.request.path}}" method="post" style="margin:0px;">
		<input type="text" name="email" style="font-size: larger;"/><br />
		<input type="submit" value="Continue here" style="font-size: larger;"/>
		</form>
	</div>

		<div style="padding-top: 200px;"><a href="/">Not yet a member of Hacker Dojo?</a></div>
</div>
{% endif %}
</center>
{% endblock %}
