{% extends 'base.html' %}
{% block content %}

<style>
label {font-weight:bold}
</style>

<h2>Profile</h2>

<table style="margin:0">

  <tr>
    
    <td>
      <img height="80" width="80" src="{{ gravatar_url }}" style="margin:12px; border:1px solid black" />
    </td>
    
    <td>
      <p><label>Name:</label> {{ account.first_name }} {{ account.last_name }}
      <br><label>E-mail:</label> {{ email }}
      <br><label>Status:</label> {{ account.status }}
    </td>
  
  </tr>

</table>

<p>To change your thumbnail, go to <a href="http://en.gravatar.com/site/login/">Gravatar</a> and edit the thumbnail for <b>{{ email }}</b></p>

<p><b>Coming soon:</b> Ability to edit your profile!</p>

{% endblock %}